* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: sans-serif; 

    --main-color: rgb(173, 255, 173);
    --main-analogous: rgb(221, 254, 221);
    --tri-complementary: #e9c885;
    --darker-green: rgb(126, 206, 126);
    --main-tri: #b299ff;
    --analogous-tri: #9c81eb;
    --light-color: rgb(250, 250, 250);
    --grey-color: rgb(218, 218, 218);
    --black: rgb(62, 62, 62);
    --light-font: rgb(119, 119, 119);

    --container-max-width: 1300px;

    --half-base-size: 0.5rem;
    --base-size: 1rem;
    --x-small-size: 1.25rem;
    --small-size: 1.5rem;
    --medium-size: 2rem;
    --big-size: 3rem;
    --x-big-size: 5rem;

    --nav-footer-padding: var(--small-size) 0;
    --base-padding: var(--small-size) 0;
    --section-padding: var(--x-big-size) 0;
    --btn-padding: var(--base-size) var(--medium-size);
    --small-padding: 0.3em 1em;
    --vertical-padding: var(--half-base-size) var(--half-base-size);
    --square-padding: var(--medium-size);
}

body {
    font-family: var(--font);
    color: var(--black);
    height: 100vh;
}

h1 {
    font-size: var(--big-size);
}

ul {
    list-style-type: none;
}

p {
    font-size: var(--small-size);
}

img {
    max-width: 100%;
}

nav,
footer
{
    padding: var(--nav-footer-padding);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--medium-size);
}

nav ul {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: var(--medium-size);
}

section {
    padding: var(--section-padding);
    background-color: var(--main-analogous);
}

#content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: var(--container-max-width);
    width: 95%;
    margin: 0 auto;
}

.icon {
    width: var(--base-size);
    height: var(--base-size);
}

.col {
    display: flex;
    flex-direction: column;
    gap: var(--base-size);
}

.logo {
    flex-shrink: 0;
}

.btn {
    display: flex;
    align-items: center;
    gap: var(--half-base-size);
    padding: var(--btn-padding);
    border-radius: var(--medium-size);
    border: none;;
    font-weight: bolder;
    font-size: var(--x-small-size);
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--darker-green);
}

.btn-secundary {
    color: var(--main-tri);
    border: 2px solid var(--main-tri);
}

.nav-link {
    font-size: var(--x-small-size);
    color: var(--light-font);
    cursor: pointer;
    transition: background-color 250ms;
    border-radius: var(--small-size);
    padding: var(--small-padding);
}

.nav-link.selected {
    background-color: var(--main-analogous);
}

.side-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-display div:first-child {
    width: 55%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: var(--medium-size);
}

.hero-btns {
    display: flex;
    gap: var(--base-size);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--base-size)
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--half-base-size);
    background-color: var(--main-tri);
    border-radius: 10px;
    padding: var(--base-padding);
    color: var(--black);
    font-weight: bolder;
}

.menu-item-name {
    position: relative;
    font-size: var(--medium-size);
    padding: var(--half-base-size);
    
}

.menu-item-name::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--light-color);
    height: calc(var(--half-base-size) / 2);
    border-radius: var(--x-small-size);
}

.menu-item-price {
    font-size: var(--small-size);
    background-color: var(--analogous-tri);
    border-radius: var(--small-size);
    padding: var(--small-padding);
    color: var(--light-color)
}

footer {
    flex-grow: 1;
    background-color: var(--tri-complementary);
    text-align: center;
    font-weight: bold;
}
